.cardgrid {
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    display: grid;
    position: relative;
    top: 40%;
    left: 10%;
    width:80%;
    
    margin: o auto;
    align-content: center;
    background-color: transparent;
    z-index: 2;
    
}

.background {
    z-index: 1;
    position: absolute;
    top: 40%;
    height: auto;
    margin: o auto;
    
    max-width: 1000px;
}
