.card {
    z-index: 20;
    max-width: 70px;
    max-height: 70px;
    justify-self: center;
    padding: 0%;
    margin: 10%;
    opacity: 1;
    object-fit: cover;
    transition: width 1s, height 1s, transform 1s;
}
.card:hover {
    max-width: 150px;
    max-height: 150px;
    z-index: 20;
    opacity: 0.6;
    transform: rotate(180);   
}